{% extends "layout.html" %}
{% block content %}
	<div class='home-container'>

		<div class='mirror-top-container'>

			<div class='weather-top-container'>
				<div class='upper-weather-container'>
					<div class='weather-current-temp'></div>
					<div class='weather-current-icon'><img src="" id='weather-current-img'></div>
				</div>
				<div class='weather-current-title'></div>
				<div class='weather-current-desc'></div>
			</div>

			<div class='time-top-container' id='time-top-container'>
				<div class='time-top' id='time-top'></div>
				<div class='time-mid' id='time-mid'></div>
				<div class='time-bottom' id='time-bottom'></div>
			</div>
		</div>

		<div class='mirror-middle-container' id='widget-content'>
			<!--		
			
			-->
		</div>

	</div>


	<script type="text/javascript" src="{{ url_for('static', filename = 'js/time.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/weather.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename = 'js/listener.js') }}"></script>

{% endblock content %}