{% extends "layout.html" %}
{% block content %}
	<div class='home-container'>

		<div class='mirror-top-container'>

			<div class='weather-top-container'>
				<div class='upper-weather-container'>
					<div class='weather-current-temp'></div>
					<div class='weather-current-icon'><img src="" id='weather-current-img'></div>
				</div>
				<div class='weather-current-title'></div>
				<div class='weather-current-desc'></div>
			</div>

			<div class='time-top-container' id='time-top-container'>
				<div class='time-top' id='time-top'></div>
				<div class='time-mid' id='time-mid'></div>
				<div class='time-bottom' id='time-bottom'></div>
			</div>
		</div>

		<div class='mirror-middle-container' id='widget-content'>
			<!--		
			{% block widget %}
			<div class='app-main-container'>
				<div class='news-app-container'>
					{% for headline in currentNews %}
					<div class='headline-container'>
						<div class='headline-icon'><img src='{{ url_for('static',filename='assets/News.png') }}'></div>
						<div class='headline-text'>{{ headline[0] }}</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endblock %}
			-->
		</div>

	</div>


	<script type="text/javascript" src="{{ url_for('static', filename = 'js/update.js') }}"></script>

	<script type="module" src="{{ url_for('static', filename = 'js/widgets/NewsWidget.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename = 'js/widgets/MusicWidget.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename = 'js/Widget.js') }}"></script>
	<script type="module" src="{{ url_for('static', filename = 'js/listener.js') }}"></script>

{% endblock content %}