{% extends "layout.html" %}
{% block content %}
	<div class='home-container'>

		<div class='mirror-top-container'>

			<div class='weather-top-container'>
				<div class='upper-weather-container'>
					<div class='weather-current-temp'>{{ currentWeather.temperature }}&#176;</div>
					<div class='weather-current-icon'><img src="{{ url_for('static', filename=currentWeather.icon) }}"></div>
				</div>
				<div class='weather-current-title'>{{ currentWeather.title }}</div>
				<div class='weather-current-desc'>{{ currentWeather.desc }}</div>
			</div>

			<div class='time-top-container'>
				<div class='time-top'>{{ currentTime.hour }}:{{ currentTime.minute }}</div>
				<div class='time-mid'>{{ currentTime.day }}</div>
				<div class='time-bottom'>{{ currentTime.month }} {{ currentTime.day_num }}</div>
			</div>
		</div>

		<div class='mirror-middle-container'>
			<div class='mirror-sides-container'>

				<div class='left-side-container'>
					<div class='app-container'>
						<button class='app-button'><img class='mirror-app-icon' src="{{ url_for('static', filename='icons/app/camera.png') }}"></button>
						<button class='app-button'><img class='mirror-app-icon' src='{{ url_for('static', filename='icons/app/settings.png') }}'></button>
						<button class='app-button'><img class='mirror-app-icon' src='{{ url_for('static', filename='icons/app/photos.png') }}'></button>
						<button class='app-button'><img class='mirror-app-icon' src='{{ url_for('static', filename='icons/app/news.png') }}'></button>
						<button class='app-button'><img class='mirror-app-icon' src='{{ url_for('static', filename='icons/app/weather.png') }}'></button>
						<button class='app-button'><img class='mirror-app-icon' id='news' src='{{ url_for('static', filename='icons/app/twitter.png') }}'></button>
					</div>
				</div>

				<div class='center-side-container'>
					
					<div class='app-content-container'>
						
					</div>

				</div>		

				<div class='right-side-container'>
					<div class='app-container right-app'>
						<button class='app-button'><img class='mirror-app-icon' src="{{ url_for('static', filename='icons/app/camera.png') }}"></button>
						<button class='app-button'><img class='mirror-app-icon' src='{{ url_for('static', filename='icons/app/settings.png') }}'></button>
						<button class='app-button'><img class='mirror-app-icon' src='{{ url_for('static', filename='icons/app/photos.png') }}'></button>
						<button class='app-button'><img class='mirror-app-icon' src='{{ url_for('static', filename='icons/app/news.png') }}'></button>
						<button class='app-button'><img class='mirror-app-icon' src='{{ url_for('static', filename='icons/app/weather.png') }}'></button>
						<button class='app-button'><img class='mirror-app-icon' id='news' src='{{ url_for('static', filename='icons/app/twitter.png') }}'></button>
					</div>
				</div>

			</div>
		</div>

	</div>
{% endblock content %}